*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecalho{
    width: 100%;
    height: 500px;
    background-color: #648b79;
}
.menu{
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}
.logo img{
    width: 40px;
    height: 40px;
    margin: 15px 10px;
}
.usuario__logado{
    text-align: center;
    margin-right: 10px;
}
.usuario__logado img{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.usuario{
    text-transform: uppercase;
    font-size: 10px;
}
.corpo{
    width: 100%;
    height: 100vh;
}
.rodape{
    width: 100%;
    height: 240px;
    background-color: rgb(33 37 41);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__social{
    display:flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px;
}
.footer__social-link{
    width: 20px;
    height: 20px;
}
.footer__link__ajuda{
    display:flex;
    flex-direction: row;
    gap:20px;
    text-transform: uppercase;
}
.footer__link{

    color:whitesmoke;
    
}
.footer__cop{
    margin-top: 20px;
    color:whitesmoke;
}